*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box ;
}

body{
    background-color:  rgb(252, 213, 213);
}

html{
    scroll-behavior: smooth;
}

.i{
    color: red;
}

.navbar{
    width: 100%;
    background-color:  rgb(254, 224, 224);
}


.navbar .navbar-nav .nav-item{
padding: 10px;
font-size: 24px;
}

.navbar .navbar-nav .nav-but{
padding: 10px;
font-size: 24px;
}



.navbar a{
    display: block;
    font-size: 24px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color:black;
text-decoration: none;
}

.navbar a:hover{
    color: white;
    border-radius: 5px;
    background-color: #008080;
    font-size: 24px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.ShopNow{
    height: 35px;
    width: 85px;
    border-color: black;
    border-radius: 5px;
}



/* banner section  */
.carousel-item .Cimg{padding-top: 80px;
        height:100%;
         width: 100%;
        background: no-repeat;}


/* text in images */
.top-right{
    position: absolute;
    top:30%;
    right:10%
}

.top-left{
    position: absolute;
    top:30%;
    left:10%
}

.top-right3{
    position: absolute;
    top:30%;
    right:10%
}



/* SWipe Button */
.zube{
    background-color: rgb(11, 12, 12);
    margin-left: 0;
    width:10%;
}

/* section for sponsers by  */

.img-4{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    width:80%;
    height: 200px;
}

.img-5{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    width: 100%;
    height: 420px;
}



/* test Section */

.text{
    text-align: center;
}

.text h2{
    color:black;
    font-family: cursive;}

.text p{
    padding-top: 5px;
    font-size: 20px;
    font-weight: 700;
    color:#008080;
font-family: sans-serif;
}

/* womens catogary Images */

.card{
    border: 1px solid black;
    padding: 10px;
    background-color: #f6ebea;
}


.card:hover{
    border: 1px solid black;
    padding: 10px;
    background-color: #82b5fc;
    color: black;
}

.img_card{
    width: 100%;
    height: 280px;
}

.Text_down{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #021e1e;
    text-align: center;
    font-weight: 500;
    padding-bottom: 5px;
}

.main-btn{
    font-size: 16px;
    color: white;
    border: 2px;
    border-color: black;
    border-radius: 5px;
    background-color: blue;
    font-weight: bold;
}

.main-btn:hover{
    font-size: 16px;
    color: black;
    border: 2px;
    border-color: black;
    border-radius: 5px;
    background-color: rgb(9, 255, 0);
    font-weight: bold;
}


.card span{
    font-weight: bold;
    color: black;
  
}

.card del{
    font-weight: bold;
    color: red;
}

.second{
padding-top:20px
}

/* about section */
.text-content{
    padding-top: 30px;
}

.text-content h1{
    color:black;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-content p{
    color:black;
    font-weight:200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* footer section */

.texta1{
    text-align: center;
    text-decoration: none;
    color: white;
    padding-left: 40px;

}

.foot{
    padding-left: 20px;
}

.texta{
    text-align: center;
    text-decoration: none;
    color: white;
    padding-right: 120px;
}